.collection-tab-clickable {
  @include base-clickable;
  @include font-size("md");
  @include shadow;
  cursor: pointer;
  transition: 0.3s ease;

  &.active {
    cursor: default;
    box-shadow: 1px 3px 11px rgba(0, 0, 0, 0);
  }
}
