.facebook-container {
  width: 100%;
  min-height: 250px;
  max-height: 600px;
  border-radius: $small-corner;
  overflow: hidden;
}

.facebook-embed {
  width: 100%;
  min-height: 250px;
  max-height: 600px;
  height: auto;
  border: none;
}
