.tiktok-container {
  width: 100%;
  max-width: 325px;
  min-height: 500px;
  max-height: 700px;
  margin: 0 auto;
  border-radius: $small-corner;
  overflow: hidden;
}

.tiktok-embed {
  width: 100%;
  min-height: 500px;
  max-height: 700px;
  height: auto;
  border: none;
  transform: scale(1.02);
}
