@mixin defs {
  @include flex(row, center, center);

  .author-name {
    @include spacing(margin-right, 2);
  }

  .badge-icon {
    @include size(6, 6);
    transform: translateX(-2px);
  }
}

.author-meta-small {
  @include defs();
  @include font-size('sm');
  font-weight: 500;
  transform: translate(4px, 2px) scale(1.08);

  .badge-icon {
    @include size(5, 5);
    transform: translate(-3px, -1px);
  }

  .author-name {
    font-weight: 500;
  }
}

.author-meta-large {
  @include defs();
  @include font-size('xl');
  font-weight: 600;
}
