.compact-variant {
  @include flex(row, center, space-between);
  @include size(100%, 22);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: $small-corner;

  &.error {
    @include error-outline;
  }

  .preview {
    @include size(auto, 100%);
    aspect-ratio: 1 / 1;
    border-radius: $small-corner;
    @include flex(row, center, center);
    background-color: get-color('base-dark');
  }

  .info {
    width: 100%;
    @include spacing(padding-left, 4);
    @include flex(column, flex-start, center, null, 1);

    span {
      opacity: 0.35;
      font-weight: 400;
      @include font-size('sm');
      transform: scale(1.1) translateX(3px);
    }
  }
}
