.group-resource {
  position: relative;
  width: 100%;

  .pin-line {
    @include pin-line-defs;
  }

  .pin-group-meta {
    @include flex(row, center, flex-start, null, 1);
    @include spacing(padding-left, 4);
    transform: translateX(1px);
  }

  .line-with-divider {
    @include pin-line-defs;
    @include flex(row, center, center);
    @include spacing(padding, 3, 0);

    .divider {
      width: 35%;
      border-bottom: $line;
      transform: translateX(-13px);
    }
  }

  .line-with-group-name {
    @include pin-line-defs;
    @include flex(row, flex-start, center);
    justify-content: flex-start;
    @include spacing(padding, 7, 0, 8, 3);

    .group-name {
      max-width: 80%;
      word-wrap: break-word;
      word-break: break-word;
      white-space: normal;
      @include spacing(padding-left, 2);
      span {
        color: get-color('light') !important;
      }
    }
  }

  .group-info {
    @include flex(row, flex-start, flex-start);

    .group-name {
      @include spacing(margin-bottom, 6);
      max-width: 80%;
      word-wrap: break-word;
      word-break: break-word;
      white-space: normal;
    }

    .initial-line {
      @include flex(column, center, center);
      @include spacing(margin-right, 4);
      align-self: stretch;

      .head {
        @include size(5, 5);
        border-radius: 50%;
        background-color: get-color('clearer-dark');
        transform: translate(10px, 1px);
        @include spacing(margin-top, 1);
        flex-shrink: 0;
      }

      .line {
        @include pin-line-defs;
        flex: 1;
      }
    }
  }
}
