@use "./_variables.scss" as *;
@use "./_functions.scss" as *;
@use "sass:map";
@use "sass:list";

@mixin flex(
  $direction: row,
  $align: center,
  $justify: center,
  $wrap: nowrap,
  $gap: null
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;

  @if $wrap != null {
    flex-wrap: $wrap;
  }

  @if $gap != null {
    gap: #{get-spacing($gap)}px;
  }
}

@mixin size($width, $height) {
  @each $prop, $val in (width: $width, height: $height) {
    @if is-special-value($val) {
      #{$prop}: $val;
    } @else {
      #{$prop}: get-spacing($val) * 1px;
    }
  }
}

@mixin position(
  $position: static,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin base-clickable {
  @include spacing(padding, 3, 4);
  @include font-size("sm");
  @include flex();
  width: fit-content;
  height: fit-content;
  border-radius: $outer-corner;
  text-align: center;
  font-weight: 600;
}

@mixin input-field {
  border-radius: $inner-corner;
  @include spacing(padding, 5, 5);
  background-color: #e1e1e1;
  @include font-size("sm");
}

@mixin font-size($size) {
  font-size: #{get-font-size($size)}rem;
}

@mixin spacing($property, $sizes...) {
  $values: ();

  @each $size in $sizes {
    $values: list.append($values, #{get-spacing($size)}px, space);
  }

  #{$property}: $values;
}

@mixin base-button {
  border-radius: $outer-corner;
  @include font-size("sm");
}

@mixin pin-card-defs {
  @include spacing(padding, 6);
  width: calc(100% - #{get-spacing(5) * 2}px);
  border-radius: $outer-corner;
  @include shadow;
  z-index: 1;
}

@mixin pin-line-defs {
  @include spacing(margin, 0, 0, 0, 7);
  border-left: $line;
}

@mixin shadow {
  box-shadow: 1px 3px 11px rgba(0, 0, 0, 0.15);
}
