.bio,
.badge {
  @include flex(flex, center, center);
  gap: #{get-spacing(1)}px;
}

.bio {
  h1 {
    font-weight: bold;
  }

  .icon {
    @include size(6, 6);
  }
}

.badge {
  span {
    font-weight: 600;
  }

  .icon {
    @include size(5, 5);
  }
}
