@mixin baseBackground($lowOpacity: false) {
  background-color: #{get-color(dark)};

  @if $lowOpacity {
    opacity: 0.2;
  }
}

@keyframes glint-sweep {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

@mixin loading-glint(
  $duration: 2s,
  $delay: 0s,
  $color: rgba(164, 163, 223, 0.95),
  $blur: 6px,
  $width: 60px
) {
  position: relative;
  overflow: hidden;

  .loading-glint {
    content: '';
    position: absolute;
    top: -25%;
    bottom: -25%;
    left: -150%;
    width: $width;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
      90deg,
      transparent 0%,
      $color 50%,
      transparent 100%
    );
    filter: blur($blur);
    animation: glint-sweep $duration $delay infinite ease-in-out;
    will-change: left;
    //z-index: 10;
  }
}

.profile-skeleton {
  width: 100%;
  @include flex(column, center, center);

  .cover-img {
    //@include loading-glint();
    @include size(100%, 38);
    @include flex(row, flex-end, center);
    @include baseBackground(true);
    border-radius: $outer-corner;
    margin-bottom: #{get-spacing(23)}px;

    .profile-pic {
      @include loading-glint();
      @include size(30, 30);
      background-color: #{get-color(dark)};
      transform: translateY(50%);
      border: solid white 6px;
      border-radius: 50%;
    }
  }

  .mural-name,
  .mural-desc {
    border-radius: 5px;
    @include baseBackground(true);
  }

  .mural-name {
    @include size(30%, 7);
  }

  .mural-desc {
    @include size(50%, 7);
    @include spacing(margin, 3, 0, 3, 0);
  }
}

.tabs-skeleton {
  @include size(100%, 11);
  @include flex(row, center, space-between);
  gap: #{get-spacing(3)}px;

  .tab {
    @include baseBackground(true);

    @include size(100%, 100%);
    border-radius: #{get-spacing(10)}px;
  }
}

.pin-skeleton {
  width: 100%;
  opacity: 0.2;
  margin-top: #{get-spacing(4)}px;

  .author-meta {
    @include flex(row, center, flex-start);

    .pic {
      @include size(12, 12);
      border-radius: 20px;
      @include baseBackground();
      @include spacing(margin-right, 3);
    }

    .mural-name {
      @include size(25, 7);
      @include baseBackground();
      border-radius: 5px;
    }
  }

  .description-container {
    border-left: 1px solid #{get-color(dark)};
    margin-left: #{get-spacing(6)}px;
    @include spacing(padding, 4, 0, 6, 6);

    width: 100%;

    .pin-description {
      @include baseBackground();
      @include size(55, 7);
      border-radius: 5px;
    }
  }

  .pin-card {
    @include size(100%, 70);
    @include baseBackground();
    border-radius: $outer-corner;
  }
}

// GLINT

// .progress-glint {
//   position: absolute;
//   top: -25%;
//   bottom: -25%;
//   width: 6px;
//   pointer-events: none;
//   background: linear-gradient(
//     90deg,
//     rgba(255, 255, 255, 0.95) 0%,
//     rgba(255, 255, 255, 1) 50%,
//     rgba(255, 255, 255, 0.95) 100%
//   );
//   filter: blur(6px);
//   transform: none;
//   will-change: left, transform;
// }
