.share-history {
  @include flex(row, center, flex-start, null, 2);

  .source-container {
    @include size(8, 8);
    @include flex(row, center, center);
    border-radius: 50%;
    background-color: get-color('clearer-dark');
    position: relative;
    overflow: hidden;

    &.has-image img {
      object-fit: cover;
      object-position: center;
    }
  }

  .share-history-list {
    @include flex(row, center, center);

    > .source-container {
      @include spacing(margin-right, -3);
      border: 2px solid get-color('clearer-dark');
      position: relative;

      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          z-index: #{20 - $i};
        }
      }
    }

    .excess-number {
      @include flex(row, center, center);
      font-weight: 400;
      @include spacing(margin-left, 1);

      span {
        @include font-size('xs');
      }
    }
  }
}
