.header-container {
  @include flex(column, space-between, flex-start, nowrap, 4);
  background-color: get-color('base-dark');
  position: fixed;
  top: 0;
  z-index: 100;
  width: inherit;
  @include spacing(padding, 4, 0);

  .top-row {
    @include flex(row, center, space-between);
    width: 100%;

    .back-button {
      background: none;
      border: none;
      cursor: pointer;
      @include flex(row, center, center, nowrap, 2);
      color: get-color('light');
      @include font-size('base');
      font-weight: 600;
      padding: 0;

      &:hover {
        opacity: 0.8;
      }
    }

    .publish-button {
      @include base-button;
      @include flex(row, center, center, nowrap, 2);
      @include spacing(padding, 3, 5);
      background-color: get-color('dark');
      color: white;
      border: 1px solid #3f3f46;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background-color: #3f3f46;
      }

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}

.title-section {
  @include flex(column, center, center, nowrap, 1);
  width: 100%;
  text-align: center;

  .main-title {
    @include font-size('md');
    font-weight: 600;
    color: get-color('light');
    margin: 0;
  }

  .sub-text {
    @include font-size('sm');
    color: get-color('light');
    opacity: 0.4;
    margin: 0;
    cursor: pointer;
    font-weight: 400;
  }
}
