.link {
  display: block;
  @include pin-card-defs;
  @include flex(row, center, space-between);
  // width: 100%;

  .img-and-info {
    @include flex(row, center, flex-start);

    .link-icon-conainer {
      @include size(14, 17);
      @include spacing(margin, 0, 4, 0, 0);
      @include flex(row, center, center);
      border-radius: $inner-corner;

      .link-icon {
        @include size(10, 10);
      }

      &.custom-icon {
        @include size(17, 17);
      }
    }

    .link-info {
      @include flex(column, flex-start);

      span {
        font-weight: 600;
        opacity: 0.6;
        @include font-size(xs);
      }
    }
  }
  .arrow-icon {
    transform: translateX(-10px);
    @include size(5, auto);
  }
}
