.integration-variant {
  width: auto;
  @include flex(column, flex-start, center);
  @include pin-card-defs;
  height: auto;
  @include spacing(padding, 5, 5, 5, 5);

  > p {
    @include spacing(margin-bottom, 4);
  }

  .integrated-app-container {
    width: 100%;
    border-radius: $inner-corner;

    overflow: hidden;
    height: fit-content; // ver
  }
}
