.collection-selector {
  @include flex(row, center, center, nowrap, 2);
  position: relative;
  cursor: pointer;

  .loading {
    color: var(--text-secondary);
    font-size: 14px;
  }

  .dropdown-list {
    @include shadow;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    margin-top: #{get-spacing(2)}px;
    background-color: get-color('clearer-dark');
    border-radius: $xs-corner;
    overflow: hidden;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: #{get-spacing(1)}px;

    .dropdown-item {
      width: 100%;
      padding: #{get-spacing(4)}px;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .dropdown-empty {
      padding: #{get-spacing(4)}px;
      color: var(--text-tertiary);
      font-size: 14px;
      white-space: nowrap;
    }
  }

  .chevron {
    transition: transform 0.2s ease;

    &.open {
      transform: rotate(180deg);
    }
  }
}
