@mixin noDragImg {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}

.renderer-container {
  position: relative;
  border-radius: $inner-corner;

  &.small {
    @include size(7, 7);
  }

  &.large {
    @include size(19, 19);
  }

  &.predefined {
    @include flex(row, center, center);

    > svg {
      @include size(11, 11);
    }

    &.animate-spin {
      animation: spin 2s linear infinite;

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  &.custom {
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &.emoji {
    @include flex(row, center, center);
    user-select: none;

    .emoji-renderer {
      @include flex(row, center, center);
      .txt-large {
        @include font-size('3xl');
        transform: scale(110%);
      }
      .txt-small {
        transform: scale(110%);
        @include font-size('sm');
      }
      .img-large {
        @include size(11, auto);
      }
      .img-small {
        @include size(6, auto);
      }
    }
  }
}
