@mixin noDragImg {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}

.emoji-txt {
  &.small {
    @include size(7, 7);
    @include font-size('md');
  }
  &.large {
    @include font-size('lg');
  }

  line-height: 1;
  text-indent: -3px;
}

.emoji-img {
  &.small {
    @include size(7, 7);
  }
  &.large {
    @include size(9, 9);
  }

  img {
    @include size(100%, 100%);
    @include noDragImg;
  }
}

.custom-icon {
  &.small {
    @include size(3, 3);
  } // verificar

  @include size(7, 7);
  overflow: hidden;
  border-radius: 20px;
  position: relative;

  img {
    object-fit: cover;
    object-position: center;
    @include noDragImg;
  }
}

// predefined/utility icons
.predefined-icon-message {
  @include size(7, 7);
  position: relative;
}

.predefined-icon-options {
  @include size(6, 6);
  position: relative;
  display: block;
  transform: scale(92%);
}

.predefined-icon-theme {
  @include size(6, 6);
  position: relative;
  transform: scale(125%);
}
